In [1]:
import warnings
import sys
if not sys.warnoptions:
    warnings.simplefilter("ignore")

In [4]:
import pandas as pd

In [8]:
df= pd.read_csv('shooting data.csv')

In [9]:
print("shape:",df.shape)

shape: (28562, 21)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28562 entries, 0 to 28561
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   INCIDENT_KEY             28562 non-null  int64
 1   OCCUR_DATE               28562 non-null  object
 2   OCCUR_TIME               28562 non-null  object
 3   BORO                     28562 non-null  object
 4   LOC_OF_OCCUR_DESC        2966 non-null   object
 5   PRECINCT                 28562 non-null  int64
 6   JURISDICTION_CODE        28560 non-null  float64
 7   LOC_CLASSFCTN_DESC       2966 non-null   object
 8   LOCATION_DESC            13585 non-null  object
 9   STATISTICAL_MURDER_FLAG  28562 non-null  bool
 10  PERP_AGE_GROUP           19218 non-null  object
 11  PERP_SEX                 19252 non-null  object
 12  PERP_RACE                19252 non-null  object
 13  VIC_AGE_GROUP            28562 non-null  object
 14  VIC_SEX                  28562 non-null  object
 15  VIC_RACE                 28562 non-null  object
 16  X_COORD_CD               28562 non-null  float64
 17  Y_COORD_CD               28562 non-null  float64
 18  Latitude                 28503 non-null  float64
 19  Longitude                28503 non-null  float64
 20  Lon_Lat                  28503 non-null  object
dtypes: bool(1), float64(5), int64(2), object(13)
memory usage: 4.4+ MB

In [11]:
df.describe()

,INCIDENT_KEY,PRECINCT,JURISDICTION_CODE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
count,2.856200e+04,28562.000000,28560.000000,2.856200e+04,28562.000000,28503.000000,28503.000000
mean,1.274058e+08,65.496009,0.321884,1.009424e+06,208380.075764,40.738570,-73.909099
std,7.804340e+07,27.342643,0.733035,1.830111e+04,31917.509527,0.087611,0.065967
min,9.953245e+06,1.000000,0.000000,9.149281e+05,125756.718800,40.511586,-74.249303
25%,6.543991e+07,44.000000,0.000000,1.000068e+06,182912.000000,40.668648,-73.942917
50%,9.271125e+07,67.000000,0.000000,1.007772e+06,194901.390650,40.701467,-73.915068
75%,2.031320e+08,81.000000,0.000000,1.016807e+06,239814.234400,40.824878,-73.882366
max,2.797581e+08,123.000000,2.000000,1.066815e+06,271127.687500,40.910818,-73.702046

In [12]:
df.isnull().sum()

INCIDENT_KEY                   0
OCCUR_DATE                     0
OCCUR_TIME                     0
BORO                           0
LOC_OF_OCCUR_DESC          25596
PRECINCT                       0
JURISDICTION_CODE              2
LOC_CLASSFCTN_DESC         25596
LOCATION_DESC              14977
STATISTICAL_MURDER_FLAG        0
PERP_AGE_GROUP              9344
PERP_SEX                    9310
PERP_RACE                   9310
VIC_AGE_GROUP                  0
VIC_SEX                        0
VIC_RACE                       0
X_COORD_CD                     0
Y_COORD_CD                     0
Latitude                      59
Longitude                     59
Lon_Lat                       59
dtype: int64

In [15]:
df.duplicated().sum()

0